.pictureInputMain {
    color: #009eff;
    height: 100%;
    background-color: #f4f4f4;
    border-radius: 10px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgInput {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    opacity: 0;
    cursor: pointer;
}

.imgContainer {
    width: 300px;
    height: 300px;
    display: flex;
}

.selectedImage {
    width: 85%;
    max-width: 250px;
    max-height: 250px;
    margin: auto;
}
