.table {
    border-collapse: collapse;
    width: 100%;
}

.name {
    text-align: left;
    padding: 16px;
    color: #009eff;
}
.numberOf {
    text-align: right;
    padding: 16px;
}
.cost {
    text-align: right;
    padding: 16px;
}

.tr {
    cursor: pointer;
}
.tr:nth-child(odd) {
    background-color: rgba(99, 99, 99, 0.08);
}
.tr:hover {
    color: white;
    background-color: #009eff !important;
}
.tr:hover .name {
    color: white;
}

.dark {
    color : #5ec2ff;
}

.trDark:nth-child(odd) {
    background-color: rgb(110, 110, 110);
}

.trDark {
    color: white;
}
