/*Buttons*/
.archivebutton {
    margin-left: 18px;
    padding: 0 5px;
}

/*Title & description Text*/
.titleText {
    text-align: left;
    padding-top: 50px;
    min-height: 260px;
}

.employeeName {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
}

.employeeText {
    margin: 6px;
    font-size: 24px;
    color: #a5a5a5;
    display: flex;
}

.deptText {
    color: #009eff;
    cursor: pointer;
}

.table {
    margin-bottom: 50px;
}

/*Dark Mode*/
.employeeNameDark {
    color: white;
}

.deptTextDark {
    color: #5ec2ff;
}

/*Description*/
.descriptionContainer {
    width: 100%;
    text-align: left;
}

.descriptionTitle {
    border-bottom: 1px solid #979797;
    color: #a5a5a5;
    font-size: 24px;
    padding: 16px 0;
    margin-bottom: 20px;
}

.descriptionBody {
    color: #4a4a4a;
    font-size: 20px;
    line-height: 27px;
}
