.empDetailMain {
    margin: 0 50px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.firstColumn {
    padding: 50px;
    min-width: 160px;
    max-width: 300px;
    flex-grow: 1;
}

.secondColumn {
    padding: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*Second Column*/
.archivebutton {
    margin-left: 18px;
    padding: 0 5px;
}

.backButton {
    margin-bottom: 30px;
}

.titleText {
    text-align: left;
    padding-top: 50px;
    min-height: 300px;
}

.employeeName {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
}

.employeeText {
    margin: 6px;
    font-size: 24px;
    color: #a5a5a5;
    display: flex;
}

.deptText {
    color: #009eff;
    cursor: pointer;
}

.table {
    margin-bottom: 50px;
}

.descriptionContainer {
    width: 100%;
    text-align: left;
}

.descriptionTitle {
    border-bottom: 1px solid #979797;
    color: #a5a5a5;
    font-size: 24px;
    padding: 16px 0;
    margin-bottom: 20px;
}

.descriptionBody {
    color: #4a4a4a;
    font-size: 20px;
    line-height: 27px;
}
