.addDropdownMain {
    z-index: 2;
    padding-top: 8px;
}

.dropdownTitle {
    margin-top: -3px;
    font-family: cqlmedium;
    text-transform: none;
    color: #009eff;
    font-size: 20px;
}

.dropdownList {
    max-height: 200px;
    overflow-y: scroll;
}

.dropdownButton {
    white-space: nowrap;
    left: -33px;
    padding-left: 33px;
}

.dropdownTitleDark {
    color: #5ec2ff;
}
