body {
    margin: 0;
    font-family: cqlRegularFont;
    /* -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9); */
}

@font-face {
    font-family: cqlRegularFont;
    src: url('./content/Fonts/CQL-Regular.otf');
}

@font-face {
    font-family: cqlmedium;
    src: url('./content/Fonts/CQL-Medium.otf');
}
