.progOverviewEditMain {
    margin: 50px 85px;
}

.archivebutton {
    margin-left: 18px;
    padding: 0 5px;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.firstColumn {
    min-width: 300px;
    padding: 25px;
    flex-grow: 1;
}

.backButton {
    margin-bottom: 30px;
}

.secondColumn {
    min-width: 700px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.imgPadding {
    padding: 25px;
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
}

.img {
    max-width: 300px;
    max-height: 300px;
    min-width: 250px;
    min-height: 250px;
    margin: auto;
}

.costText {
    text-align: left;
    color: #979797;
    font-size: 18px;
}

.titleText {
    text-align: left;
    padding-bottom: 100px;
    padding-top: 25px;
}

.programName {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
}

.programText {
    margin: 6px;
    font-size: 24px;
    color: #a5a5a5;
}

.dropdownTitle {
    margin-top: -3px;
    font-family: cqlmedium;
    text-transform: none;
    color: #009eff;
    font-size: 20px;
}

.addContainer {
    margin: 5px 0 55px;
    align-self: flex-end;
}

.input {
    width: 380px;
    height: 45px;
    border: 1.5px solid #a5a5a5;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 12px;
    font-family: cqlRegularFont;
}
.inputText {
    color: #a5a5a5;
    font-size: 24px;
    text-align: left;
}

.inputContainer {
    margin: auto;
}

.submitContainer {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

/*Plugin Input Form*/
.pluginForm {
    align-self: center;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pluginInput {
    width: 200px;
}

.pluginGroup {
    margin: 10px;
    max-width: 900px;
}

/*Program Form*/
.programForm {
    margin: 50px 0;
}

.nameInput {
    margin: 50px 0;
}
