.progOverviewEditMain {
    padding: 0 50px;
}
.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.firstColumn {
    padding: 50px;
    min-width: 160px;
    max-width: 300px;
    flex-grow: 1;
}

.secondColumn {
    padding: 50px;
    padding-left: 75px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*First Column*/
.backButton {
    margin-bottom: 30px;
}

.imgContainer {
    position: relative;
    width: 100%;
}

.imgContainer:before {
    content: '';
    display: block;
    padding-top: 100%;
}

/*second col*/

.title {
    margin-top: 50px;
    text-align: left;
    font-size: 24px;
    padding-bottom: 25px;
}

.programTableContainer {
    margin-top: 50px;
    width: 100%;
    position: relative;
    right: 50px;
}

.pluginTableContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 50px;
}

.addContainer {
    padding-top: 8px;
    margin: 5px 0 55px;
    align-self: flex-end;
}

.input {
    width: 100%;
    height: 45px;
    border: 2px solid #a5a5a5;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 12px;
    font-family: cqlRegularFont;
}

.inputText {
    color: #a5a5a5;
    font-size: 24px;
    text-align: left;
}

.submitContainer {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

/*Program Form*/
.programForm {
    margin: 10px 0;
    width: 100%;
}

/*Plugin Input Form*/
.pluginForm {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    white-space: nowrap;
}

.pluginInputContainerRow1 {
    width: 45%;
}

.dateInputContainer {
    width: 20%;
}

.pluginInputContainerRow2 {
    width: 25%;
}

.pluginGroup {
    margin: 10px 0;
    width: 100%;
}

.dateInput {
    width: 100%;
}

.description {
    width: 100%;
    height: 100px;
    font-family: cqlRegularFont;
    resize: none;
}

.line {
    align-self: center;
    border-bottom: 2px solid #a5a5a5;
    width: 100%;
    height: 10px;
    margin-top: 50px;
}

.row1Group {
    flex-wrap: wrap;
}

.checkBoxContainer {
    width: 55px;
}

.checkBox {
    height: 47px;
}

.nameInputWithEdit {
    width: 85%;
}

.nameInput {
    width: 55%;
}
.editButton {
    margin-top: 30px;
    min-width: 160px;
}

.titleDark {
    color: white;
}

.backgroundDark {
    background-color: #282c29;
}