.costText {
    text-align: left;
    color: #979797;
    font-size: 18px;
}

.costLine {
    margin: 0 5px;
    flex-grow: 1;
    height: 1px;
    align-self: center;
    background: #979797;
    padding-right: 10px;
}