.table {
    border-collapse: collapse;
    width: 100%;
}

.tr {
    color: #a5a5a5;
    font-size: 20px;
    cursor: pointer;
    height: 100px;
}
.tr:hover {
    background-color: rgba(151, 151, 151, 0.15);
}

/* styling for table headers */
.header {
    font-size: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: left;
    color: #a5a5a5;
    border-bottom: 1px solid #979797;
}
.description {
    text-align: left;
    color: #a5a5a5;
    height: 35px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 4px;
}
.date {
    text-align: left;
    color: #4a4a4a;
    height: 35px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.rowData {
    display: flex;
    flex-direction: row;
}

/* delete icon */
.deleteRow {
    width: 30px;
}
.delete {
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.delete:hover {
    background-color: maroon;
}
.whiteLine {
    width: 12px;
    height: 2px;
    background-color: white;
    position: relative;
    bottom: 12px;
    left: 4px;
}
