.programsListMain {
    margin: 50px 85px;
}

.group {
    padding-bottom: 60px;
}

.page {
    text-align: center;
    display: flex;
    justify-content: center;
}

.icon {
    max-height: 75px;
    max-width: 75px;
    padding: 25px;
}

.alignLeft {
    text-align: left;
}
.alignLeftAndPadding {
    text-align: left;
    padding-left: 34px;
    color: #979797;
}

.programs {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.programName {
    color: #009eff;
}

.header {
    text-align: left;
    color: #a5a5a5;
    font-size: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    display: flex;
    cursor: pointer;
}
.nameHeader {
    padding-left: 24px;
}

/* sorting states */
.notSorted {
    border-left: 8px solid #636363;
    border-right: 8px solid #636363;
    border-top: 2px solid #636363;
    border-bottom: none;
    height: 2px;
    position: relative;
    top: 15px;
    left: 5px;
}
.ascending {
    border-top: 8px solid transparent;
    border-bottom: 8px solid #636363;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: relative;
    bottom: 10px;
    left: 5px;
}
.descending {
    border-top: 8px solid #636363;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: relative;
    top: 15px;
    left: 5px;
}
