.formMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* styling for radio buttons */
.checkBoxContainerOne {
    width: 50px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    cursor: pointer;
}
.checkBoxContainerTwo {
    width: 50px;
    margin-right: 10px;
    margin-left: 25px;
    position: relative;
    top: 29px;
    cursor: pointer;
}
.radioSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.radioContainer {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
}
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.radioInput {
    height: 44px;
    border: 1.5px solid #a5a5a5;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 12px;
}
.monthsInput {
    height: 44px;
    border: 1.5px solid #a5a5a5;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 12px;
}
.marginLeft {
    margin-left: 30px;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.card input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.container {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.checkmark {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #979797;
}
.insideCheckmark {
    z-index: 1;
    position: relative;
    right: 25px;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    background-color: white;
}
.insideCheckmarkAdmin {
    z-index: 1;
    position: relative;
    bottom: 25px;
    left: 4px;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    background-color: white;
}
/* changes checkmark after input clicked */
input:checked ~ .checkmark {
    border-color: #009eff;
}
input:checked ~ .insideCheckmark {
    background-color: #009eff;
}
input:checked ~ .insideCheckmarkAdmin {
    background-color: #009eff;
}

.inputText {
    color: #a5a5a5;
    font-size: 24px;
    text-align: left;
    white-space: nowrap;
}

.input {
    height: 45px;
    border: 1.5px solid #a5a5a5;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 12px;
    width: 100%;
}

.inputContainer {
    margin: 0 15px 15px 0;
    width: 45%;
}

.descriptionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.description {
    justify-self: flex-start;
    width: 98%;
    height: 100px;
    font-family: cqlRegularFont;
    resize: none;
}

.line {
    align-self: center;
    border-bottom: 2px solid #a5a5a5;
    width: 100%;
    height: 10px;
    margin: 50px 0;
}

.row1Input {
    margin: 15px 40px 15px 0;
}
.row2Input {
    margin: 15px 0 0 0;
    width: 30%;
}
