.detailMain {
    margin: 0px 50px;
}

/* edit/archive styling */
.backButton {
    margin-bottom: 30px;
}
.archivebutton {
    margin-left: 18px;
    padding: 0 5px;
}

/* main column styling */
.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.firstColumn {
    padding: 50px;
    min-width: 160px;
    max-width: 300px;
    flex-grow: 1;
}

.secondColumn {
    padding: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* title/makeModel/dates styling */
.titleText {
    text-align: left;
    padding-top: 50px;
    min-height: 300px;
}
.hardwareName {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    text-transform: capitalize;
}
.hardwareText {
    margin: 6px;
    font-size: 24px;
    color: #a5a5a5;
}

/* table styling */
.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}
.header {
    min-width: 100px;
    font-size: 24px;
    color: #a5a5a5;
    text-align: left;
    border-bottom: 1px solid #979797;
    padding-bottom: 8px;
}
.rowData {
    text-align: left;
    color: #4a4a4a;
    font-size: 20px;
    height: 100px;
}

/* history log */
.historyLogContainer {
    /* width: 700px; */
    margin-top: 50px;
}
.detailTable {
    margin-bottom: 50px;
}

.hardwareNameDark {
    color: white;
}