.detailMain {
    margin: 0px 50px;
}

/* edit/archive styling */
.backButton {
    margin-bottom: 30px;
}
.archivebutton {
    margin-left: 18px;
    padding: 0 5px;
}

/* main column styling */
.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.firstColumn {
    padding: 50px;
}

.secondColumn {
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* image styling */
.imgPadding {
    padding: 25px;
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
}

.img {
    width: 300px;
    max-height: 300px;
    margin: auto;
}
.costText {
    text-align: left;
    color: #979797;
    font-size: 18px;
}
.costLine {
    margin: 0 5px;
    flex-grow: 1;
    height: 1px;
    align-self: center;
    background: #979797;
}

/* title/makeModel/dates styling */
.titleText {
    text-align: left;
    padding-top: 50px;
    min-height: 300px;
}
.hardwareName {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    text-transform: capitalize;
}
.hardwareText {
    margin: 6px;
    font-size: 24px;
    color: #a5a5a5;
}

/* table styling */
.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}
.header {
    min-width: 100px;
    font-size: 24px;
    color: #a5a5a5;
    text-align: left;
    border-bottom: 1px solid #979797;
    display: flex;
    padding: 16px 0;
}
.rowData {
    text-align: left;
    color: #4a4a4a;
    font-size: 20px;
}

/* history log */
.historyLogContainer {
    /* width: 700px; */
    margin-top: 50px;
}
.detailTable {
    margin-bottom: 50px;
}
