.dashMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashColumn {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    flex-basis: 50%;

    max-width: 740px;
    min-width: 700px;
}

.costIcons {
    width: 50%;
}
.dashRow {
    display: flex;
    flex-direction: row;
}

.linkedTitle {
    color: #009eff;
    cursor: pointer;
    font-family: cqlRegularFont;
    font-size: 22px;
}
.linkedTitle:hover {
    text-decoration: underline;
}
/* icon styling */
.statsIcon {
    color: #ff8a5b;
    transform: scale(10, 5);
    margin-bottom: 10px;
    margin-top: 40px;
}
.upArrowIcon {
    color: #ff8a5b;
    transform: scale(5, 10);
    position: relative;
    right: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.downArrowIcon {
    color: #ff8a5b;
    transform: scale(5, 10);
    position: relative;
    left: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 20px;
}

.softwareKey {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #999;
}
.softwareKey div:last-child {
    margin-left: auto;
}

.software {
    width: 98%;
}
