.legendList {
    padding: 10px;
    display: flex;
    cursor: pointer;
}
.inline {
    display: flex;
    justify-content: center;
}
.inlineLegend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.circle {
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.header {
    position: relative;
    left: 150px;
    top: 40px;
    padding-right: 300px;
}

.pieContainer {
    margin-top: -60px;
}

.headingText {
    color: grey;
    font-size: 12px;
}

/* when pie data is empty */
.circleContainer {
    width: 380px;
    height: 300px;
}
.emptyCircle {
    background-color: rgba(97, 97, 97, 0.185);
    border-radius: 50%;
    width: 230px;
    height: 230px;
    position: relative;
    top: 40px;
    left: 70px;
}
.emptyDataText {
    color: black;
    font-size: 18px;
    position: relative;
    bottom: 85px;
}
