.legendList {
    padding: 10px;
    display: flex;
    cursor: pointer;
}
.inline {
    display: flex;
    justify-content: center;
}
.inlineLegend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 540px;
    position: relative;
    left: 75px;
}

.circle {
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.header {
    position: relative;
    top: 50px;
    padding-right: 270px;
    padding-bottom: 25px;
}
.lastHeader {
    position: relative;
    top: 50px;
    padding-bottom: 25px;
}

.pieContainer {
    margin-top: -60px;
    display: flex;
    flex-direction: column;
}

.headingText {
    color: grey;
    font-size: 12px;
}

/* when pie data is empty */
.circleContainer {
    position: relative;
    bottom: 340px;
    width: 340px;
    height: 0px;
}
.emptyCircle {
    background-color: rgba(97, 97, 97, 0.185);
    border-radius: 50%;
    width: 230px;
    height: 230px;
    position: relative;
    top: 80px;
    left: 50px;
}
.emptyDataText {
    color: black;
    font-size: 18px;
    position: relative;
    bottom: 45px;
    right: 10px;
}
