.main {
    min-width: fit-content;
}

.input {
    width: 380px;
    height: 45px;
    border: 1.5px solid #a5a5a5;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 12px;
    margin-bottom: 20px;
    font-family: cqlRegularFont;
}

.text {
    color: #a5a5a5;
    font-size: 24px;
    text-align: left;
}

.msg {
    color: red;
    text-align: right;
    margin-top: -20px;
    height: 20px;
}
