.progDetailMain {
    margin: 0 50px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.firstColumn {
    padding: 50px;
    min-width: 160px;
    max-width: 300px;
    flex-grow: 1;
}

.secondColumn {
    padding: 50px;
    padding-left: 75px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*First Column*/
.backButton {
    margin-bottom: 30px;
}

.imgContainer {
    position: relative;
    width: 100%;
}

.imgContainer:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.imgPadding {
    height: 100%;
    background-color: #f4f4f4;
    border-radius: 10px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 85%;
    max-width: 250px;
    max-height: 250px;
    margin: auto;
}

.costText {
    text-align: left;
    color: #979797;
    font-size: 18px;
}

.costLine {
    margin: 0 5px;
    flex-grow: 1;
    height: 1px;
    align-self: center;
    background: #979797;
}

/*second column*/
.archivebutton {
    margin-left: 18px;
    padding: 0 5px;
}

.titleText {
    text-align: left;
    padding-top: 50px;
    min-height: 300px;
}

.programName {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
}

.programText {
    margin: 6px;
    font-size: 24px;
    color: #a5a5a5;
}

.assignedTo {
    display: flex;
}

.empName {
    color: #009eff;
    padding-left: 5px;
    cursor: pointer;
}

.empName:hover {
    text-decoration: underline;
}

.descriptionContainer {
    width: 100%;
    text-align: left;
}

.descriptionTitle {
    border-bottom: 1px solid #979797;
    color: #a5a5a5;
    font-size: 24px;
    padding: 16px 0;
    margin-bottom: 20px;
}

.descriptionBody {
    color: #4a4a4a;
    font-size: 20px;
    line-height: 27px;
}

.spaceBetween {
    height: 50px;
}
