.columns {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.firstColumn {
    padding: 50px;
}

.secondColumn {
    padding: 125px 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/*first column*/
.backButton {
    margin-bottom: 30px;
}

/*second column*/
.title {
    text-align: left;
    font-size: 24px;
    padding-bottom: 25px;
}

.formContainer {
    width: 100%;
}

.submitContainer {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
