.progDetailMain {
    padding: 0 50px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
}

.firstColumn {
    padding: 50px;
    min-width: 160px;
    max-width: 300px;
    flex-grow: 1;
}

.secondColumn {
    padding: 50px;
    padding-left: 75px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*First Column*/
.backButton {
    margin-bottom: 30px;
}

/*second column*/
.archivebutton {
    margin-left: 18px;
    padding: 0 5px;
}

.titleText {
    text-align: left;
    padding-top: 50px;
    min-height: 300px;
}

.overviewLink {
    color: #009eff;
    cursor: pointer;
    padding-right: 10px;
}

.overviewLink:hover {
    text-decoration: underline;
}

.programName {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
}

.programText {
    margin: 6px;
    font-size: 24px;
    color: #a5a5a5;
}

.assignedTo {
    display: flex;
}

.empName {
    color: #009eff;
    padding-left: 5px;
    cursor: pointer;
}

.empName:hover {
    text-decoration: underline;
}

.descriptionContainer {
    width: 100%;
    text-align: left;
}

.descriptionTitle {
    border-bottom: 1px solid #979797;
    color: #a5a5a5;
    font-size: 24px;
    padding: 16px 0;
    margin-bottom: 20px;
}

.descriptionBody {
    color: #4a4a4a;
    font-size: 20px;
    line-height: 27px;
}

.spaceBetween {
    height: 50px;
}

.dark {
    color: white;
}

.linkDark {
    color: #5ec2ff;
}

.backgroundDark {
    background-color: #282c29;
}
