.columns {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
}

.firstColumn {
    padding: 50px;
    min-width: 160px;
    max-width: 300px;
    flex-grow: 1;
}

.secondColumn {
    padding: 50px;
    padding-left: 75px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.imgContainer {
    position: relative;
    width: 100%;
}

.imgContainer:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.backButton {
    margin-bottom: 30px;
}

.title {
    text-align: left;
    font-size: 24px;
}
.paddingTop {
    padding-top: 50px;
}
.paddingBottom {
    padding-bottom: 25px;
}
.paddingRight {
    padding-right: 50px;
}
.line {
    border-bottom: 2px solid #a5a5a5;
    width: 100%;
    height: 10px;
    margin-top: 50px;
}
.deptNameInput {
    width: fit-content;
}
.employeeDepartment {
    display: flex;
    flex-direction: row;
}
.deptIcon {
    width: 75px;
    height: 75px;
    margin: 25px;
}
.deptName {
    color: #636363;
    font-size: 22px;
}

/* table and add button */
.tableColumn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    width: 700px;
    position: relative;
    right: 50px;
}
.firstTableColumn {
    margin-top: 25px;
    margin-right: 25px;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
}
.secondTableColumn {
    margin-top: 25px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}
.table {
    width: 400px;
    margin-top: 25px;
}
.left {
    position: relative;
    right: 5px;
}
.addDefaultContainer {
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 50px;
}
.addIconBorder:hover {
    background-color: #009eff;
    cursor: pointer;
}
.addIconBorder:hover .addIcon {
    color: white;
}
.addIconBorder {
    border: 2px solid #009eff;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addIcon {
    color: #009eff;
    transform: scale(2, 2);
}
.assignText {
    padding-left: 5px;
    color: #009eff;
    font-size: 20px;
}
/* so the table doesnt highlight on hover */
.newRowThing:hover {
    background-color: rgba(255, 255, 255, 0);
}

/* submit button at the bottom */
.submitContainer {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.submitButton:hover {
    background-color: #009eff;
    cursor: pointer;
}
.submitButton:hover .personIcon {
    color: white;
}
.submitButton:hover .submitText {
    color: white;
}
.submitText {
    color: #009eff;
    font-size: 24px;
}
.personIcon {
    color: #009eff;
    transform: scale(1.5, 1.5);
    position: relative;
    left: 10px;
}

/*dropdown styles*/
.dropdownTitle {
    margin-top: -3px;
    font-family: cqlmedium;
    text-transform: none;
    color: #009eff;
    font-size: 20px;
}

.addContainer {
    margin: 5px 0 15px;
    align-self: flex-end;
}

.zIndex3 {
    z-index: 3;
}

.textDark {
    color: white;
}

.backgroundDark {
    background-color: #282c29;
}
