.detailMain {
    margin: 0 50px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.firstColumn {
    padding: 50px;
    min-width: 160px;
    max-width: 300px;
    flex-grow: 1;
}

.secondColumn {
    padding: 50px;
    padding-left: 75px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.imgContainer {
    position: relative;
    width: 100%;
}

.imgContainer:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.imgPadding {
    height: 100%;
    background-color: #f4f4f4;
    border-radius: 10px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 85%;
    max-width: 250px;
    max-height: 250px;
    margin: auto;
}

.archivebutton {
    margin-left: 18px;
    padding: 0 5px;
}

.backButton {
    margin-bottom: 30px;
}

.paddingRight {
    padding-right: 50px;
}

.costLine {
    margin: 0 5px;
    flex-grow: 1;
    height: 1px;
    align-self: center;
    background: #979797;
}

/* line and title */
.line {
    border-bottom: 2px solid #a5a5a5;
    width: 100%;
    height: 10px;
    margin-top: 50px;
}
.title {
    text-align: left;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.costText {
    text-align: left;
    color: #979797;
    font-size: 18px;
}

.titleText {
    text-align: left;
    padding-top: 50px;
    min-height: 220px;
}

.deptName {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
}

.deptText {
    margin: 6px;
    font-size: 24px;
    color: #a5a5a5;
}

.headerContainer {
    color: #a5a5a5;
    font-size: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    display: flex;
    cursor: pointer;
}

.header {
    text-align: left;
    border-bottom: 1px solid #979797;
}

.rowData {
    text-align: left;
    color: #4a4a4a;
}

.notSorted {
    border-left: 8px solid #636363;
    border-right: 8px solid #636363;
    border-top: 2px solid #636363;
    border-bottom: none;
    height: 2px;
    position: relative;
    top: 15px;
    left: 5px;
}

.ascending {
    border-top: 8px solid transparent;
    border-bottom: 8px solid #636363;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: relative;
    bottom: 10px;
    left: 5px;
}

.descending {
    border-top: 8px solid #636363;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: relative;
    top: 15px;
    left: 5px;
}

.rowTitle {
    color: #009eff;
}

.tooltip {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.52px;
    line-height: 30px;
    color: black !important;
    box-shadow: 1px 1px 6px 0 rgba(114, 114, 114, 0.2) !important;
    border-radius: 15px;
}

.dropdownTitle {
    margin-top: -3px;
    font-family: cqlmedium;
    text-transform: none;
    color: #009eff;
    font-size: 20px;
}

/* tables */
.tableMargin {
    margin-bottom: 50px;
}
.tableRow {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 50px;
}
.table {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.addDefaultContainer {
    padding-top: 25px;
    position: relative;
    right: 8px;
}
.addContainer {
    margin: 5px 0 55px;
    align-self: flex-end;
}
.addIconBorder:hover {
    background-color: #009eff;
    color: white;
    cursor: pointer;
}

.addIconBorder:hover .addIcon {
    color: white;
}
.addIconBorder {
    border: 2px solid #009eff;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addIcon {
    color: #009eff;
    transform: scale(2, 2);
}
.assignText {
    padding-left: 5px;
    color: #009eff;
    font-size: 20px;
}

.submitContainer {
    display: flex;
    justify-content: center;
}
